In [1]:
import pandas as pd
import numpy as np

In [5]:
data_train = pd.read_csv('C:/Users/Arcry/SkillBox/ML_HSE/files/perceptron-train.csv', )
data_test = pd.read_csv('C:/Users/Arcry/SkillBox/ML_HSE/files/perceptron-test.csv')

In [6]:
data_train.head()

     y        x1           x2
0 -1.0 -0.024626  1174.600238
1  1.0 -0.978058  1083.198803
2 -1.0  0.314272 -1472.977609
3 -1.0  0.179752   231.017267
4  1.0 -1.262544  -778.271726

In [7]:
data_test.head()

     y        x1           x2
0 -1.0  1.651437  1337.453826
1  1.0 -0.866495  1191.232457
2 -1.0  0.789828  -475.647768
3 -1.0  0.179549  1959.095353
4  1.0 -0.434351   568.504207

In [12]:
X_train = data_train.iloc[:, 1:]
y_train = data_train.iloc[:, 0]

X_test = data_test.iloc[:, 1:]
y_test = data_test.iloc[:, 0]

0     -1.0
1      1.0
2     -1.0
3     -1.0
4      1.0
      ...
295   -1.0
296   -1.0
297    1.0
298    1.0
299    1.0
Name: y, Length: 300, dtype: float64