In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy

In [24]:
data = pd.read_csv('C:/Users/Arcry/SkillBox/ML_HSE/files/salary-train.csv')
data_test = pd.read_csv('C:/Users/Arcry/SkillBox/ML_HSE/files/salary-test-mini.csv')

In [4]:
data.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [25]:
data_test.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [8]:
X_train = data.iloc[:,:-1]
y_train = data.iloc[:,-1]

In [26]:
X_test = data_test.iloc[:,:-1]

In [14]:
X_train['FullDescription'] = X_train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [18]:
X_train = X_train.fillna('nan')

In [21]:
X_train.isna().sum()

FullDescription       0
LocationNormalized    0
ContractTime          0
dtype: int64

In [23]:
X_train = X_train.applymap(lambda x: x.lower())

In [29]:
from  sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer

In [30]:
enc = DictVectorizer()
vect = TfidfVectorizer(min_df=5)

In [33]:
X_train_vec = vect.fit_transform(X_train['FullDescription'])
X_test_vec = vect.transform(X_test['FullDescription'])

In [37]:
X_train_enc = enc.fit_transform(X_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_enc = enc.transform(X_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [46]:
X_train_new = scipy.sparse.hstack([X_train_enc, X_train_vec])
X_test_new = scipy.sparse.hstack([X_test_enc, X_test_vec])

In [42]:
from sklearn.linear_model import Ridge

In [43]:
ridge = Ridge(alpha=1, random_state=241)

In [47]:
ridge.fit(X_train_new, y_train)

Ridge(alpha=1, random_state=241)

In [49]:
ridge.predict(X_test_new)

array([55868.77843178, 37144.82255568])